html,body {
   background-color: white;
   color: black;
   height: 100%;
}

/************
header tag modifications
************/
h1 {
	color: #CF000F;
}

h2 {
	color: white;
	margin-top: 10px;
}

/************
remove fieldset 
border
************/
fieldset {
  border-style: none;
  padding: 10px 0px 0px 0px;
  margin: 0px 0px -5px 0px;
}

/************
the page content
************/
#content {
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 100%;
}

/************
top bar
************/
#bar {
	width: 100%;
  height: auto;
  border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #CF000F;
}

/************
top area that
contains the title,
search boxes, and
search button
************/
#top {
	max-width: 1200px;
	height: auto;
	margin-left: auto;
  margin-right: auto;
	display: flex;
	flex-direction: column;
}

/************
wrapper for the 
items in the top
div
************/
.topItems  {
  float: left;
  position: relative;
  font-weight: bold;
  font-size: 105%;
  padding: 5px 5px 0px;
  height: 50px;
}

/************
search criteria boxes
************/
.searchBox  {
  font-size: 100%;
  width: 300px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
}

/************
search button
************/
.button {
  float: left;
  background-color: #8C9AA9;
  color: white;
  font-size: 200%;
	font-weight: bold;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  cursor: pointer; 
}

.button:hover {
	color: #CF000F;
}

.button:active {
  background-color: #CF000F;
  color: #8C9AA9;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

/************
rotate eyeglass
************/
.rotate45 {
	-webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg); 
  -o-transform: rotate(-45deg);
}

/************
results
************/
#results {
	margin: auto;
	max-width: 1200px;
	height: 90%;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
} 

li { 
		cursor: pointer; 
}
